.blockComments{
	background: linear-gradient(93.78deg, #4D009A 3.68%, #8201B6 98.45%);
	padding: 80px 0;
	.slick-current{
		.blockComments__item {
			position: relative;
			opacity: 1;
			&_text {
				color: #181023;
				background: #fff;
				box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
				position: relative;
				&:after{
					content: '';
					position: absolute;
					border: 50px solid transparent; 
					border-top: 30px solid #fff;
					top: 99%;
					left: calc(50% - 50px);
				}
			}
			&_imgDots{
				opacity: 1;
				left: 39px;
				top: 0;
				z-index: 16;
			}
			&_img{
				width: 160px;
				height: 160px;
			}
			&_name{
				display: block;
			}
			&_city{
				display: block;
			}
		}
	}
	.slick-slide{
		width: calc(1110px / 3);
	}
	.slick-next {
		right: 170px;
		bottom: 30px;
		top: inherit;
		&:before{
			display: none;
		}
	}
	.slick-prev {
		left: 170px;
		bottom: 30px;
		top: inherit;
		z-index: 3;
		&:before{
			display: none;
		}
	}
	.slick-dots{
		li {
			width: 30px;
			height: 3px;
			margin: 2px;
			&.slick-active{
				button{
					&:before{
						background: rgba(255, 217, 20, 1);
						opacity: 1;
					}
				}
			}
			button{
				&:before {
					width: 30px;
					height: 3px;
					content: '';
					background: #fff;
					opacity: 1;
					border-radius: 3px;
				}
			}
		}
	}
	&__item{
		opacity: 0.3;
		text-align: center;
		padding: 30px 10px;
		&_text{
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 150%;
			letter-spacing: 0.02em;
			text-transform: capitalize;
			color: rgba(255, 255, 255);
			padding: 50px 30px;
			border-radius: 30px;
			text-align: left;
		}
		&_imgDots{
			opacity: 0;
		}
		&_img{
			margin: 50px auto 0;
			width: 100px;
			height: 100px;
			border-radius: 50%;
		}
		&_name{
			display: none;
			padding: 20px 0;
			font-style: normal;
			font-weight: 700;
			font-size: 18px;
			line-height: 100%;
			text-align: center;
			letter-spacing: 0.02em;
			color: #FFFFFF;
		}
		&_city{
			display: none;
			padding-bottom: 20px;
			font-weight: 500;
			font-size: 16px;
			line-height: 150%;
			text-align: center;
			letter-spacing: 0.02em;
			text-transform: capitalize;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: #FFFFFF;
		}
	}
}

@media screen and (max-width: 1024px) {
	.blockComments{
		padding: 60px 0;
		.slick-current{
			.blockComments__item {
				&_text {
					&:after{
						content: '';
						position: absolute;
						border: 40px solid transparent;
						border-top: 25px solid #fff;
						top: 99%;
						left: calc(50% - 40px);
					}
				}
				&_imgDots{
					opacity: 1;
					left: 39px;
					top: 0;
					z-index: 16;
					width: 50px;
				}
				&_img{
					width: 130px;
					height: 130px;
				}
				&_name{
					display: block;
				}
				&_city{
					display: block;
				}
			}
		}
		.slick-slide{
			width: calc(944px / 3);
		}
		.slick-next {
			right: 100px;
		}
		.slick-prev {
			left: 100px;
		}
		.slick-dots{
			li {
				width: 30px;
				height: 3px;
				margin: 2px;
				&.slick-active{
					button{
						&:before{
							background: rgba(255, 217, 20, 1);
							opacity: 1;
						}
					}
				}
				button{
					&:before {
						width: 30px;
						height: 3px;
						content: '';
						background: #fff;
						opacity: 1;
						border-radius: 3px;
					}
				}
			}
		}
		&__item{
			padding: 20px 10px;
			&_text{
				font-size: 14px;
				padding: 30px 25px;
			}
			&_img{
				margin: 40px auto 0;
				width: 80px;
				height: 80px;
			}
			
		}
	}
}


@media screen and (max-width: 900px) {
	.blockComments{
		.slick-slide{
			width: calc(844px / 3);
		}
		.slick-next {
			right: 30px;
		}
		.slick-prev {
			left: 30px;
		}
	}
}

@media screen and (max-width: 500px) {
	.blockComments{
		.slick-slide{
			opacity: 0;
			&.slick-current{
				opacity: 1;
			}
		}
		
		.slick-slide{
			width: 280px;
		}
		.slick-next {
			right: -10px;
		}
		.slick-prev {
			left: -10px;
		}
	}
}